*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body{
    background-color: rgb(90, 206, 206);
}
.container{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

.form{
    background-color: #fff;
    margin-top: 60px;
    width: 400px;
    padding: 20px;
    height: 30%;
    border-radius: 20px;
}
.form h2{
    font-size: 24px;
    font-weight: 800;
    text-align: center;
}
.button{
    width: 60px;
    height: 30px;
    background-color: rgb(35, 128, 156);
    color: #fff;
    box-shadow: none;
    margin-top: 5px;
    border: 2px solid red;
    border-color: rgb(35, 128, 156);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
form {
    display: flex;
    flex-direction: column;
}

form input {
    border: 2px solid rgb(146, 170, 223);
    padding: 4px;
    border-radius: 4px;
}

form label{
    font-size: 14px;
    font-weight: 600;
}